*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: linear-gradient(135deg, #6a8dff, #76c7c0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.dark-theme{
    background: black;
    color: #ffffff;
}

body.dark-theme,
body.dark-theme  .container,
body.dark-theme  form,
body.dark-theme  input,
body.dark-theme  button,
body.dark-theme  #expense-list,
body.dark-theme  #expense-list li,
body.dark-theme  .total-expense {
    background: #333;
    color: #ffffff;
    box-shadow: #bbb;
}

.container{
    background : rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 360px;
    backdrop-filter: blur(10px);
    animation: fadeIn 0.6s ease-in-out;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

input , button{
    border: 1px solid #bbb;
    border-radius: 6px;
    padding: 10px;
    margin: 8px 0;
    width: 100%;
    font-size: 16px;
    transition: 0.3s;
}
input:focus{
    border-color: #6a8dff;
    box-shadow: 0 0 6px #6a8dff;
}

button{
    background-color: cornflowerblue;
    color: beige;
    cursor: pointer;
}

#add-expense{
    width: 100%;
    padding: 11px;
    font-size: 15px;
    color: white;
    background: #6a8dff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

#add-expense:hover{
    background: #567af8;
}

#category{
    border: 1px solid #000;
    border-radius: 6px;
    padding: 6px;
    margin: 8px 0;
    width: 80%;
    font-size: 15px;
    background: #fff;
    outline: none;
    transition: 0.3s ease;
}

#category:focus{
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

#expense-list{
    list-style: none;
    margin-top: 20px;
}

#expense-list li{
    background: #ffffff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: slideIn 0.5s ease-out;
}

#expense-list li button{
    color: white;
    border: none;
    background: #ff5c5c;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#expense-list li button:hover{
    background:#e04848;
}

.total-expense{
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    font-size: medium;
    color: #333;
}

.delete-btn{
    background: #ff5c5c;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-btn:hover{
    background: darkred;
}

.filters{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    gap: 10px;
}

#serach-bar , #month-filter{
    flex: 1;
    padding: 10px;
    margin: 15px 0;
    font-size: 15px;
    border: 1px solid #bbb;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

#month-filter{
    max-width: 140px;
}

#search-bar:focus{
    border-color: #6a8dff;
    box-shadow: 0 0 6px #6a8dff;
}

body.dark-theme #search-bar{
    background: #444;
    color: #fff;
    border: 1px solid #777;
}
/* 
#clear-search{
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    color: white;
    background: #ff6060;
    cursor: pointer;
} */

#no-results{
    color: #ff5050;
    font-size: 15px;
    margin-bottom: 11px;
}

.hidden{
    display: none;
}

.highlight{
    background: rgba(255, 230, 150, 0.4);
    border-left: 4px solid #f1c40f;
    padding-left: 6px;
    transition: 0.3s;
}

.summary-section{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding: 22px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.10);
    flex-direction: column;
}

.summary-section h3{
    margin-bottom: 9px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: #222;
}

.summary-section p,
.summary-section ul{
    font-size: medium;
    text-align: center;
    color: #444;
}

.dark-theme .summary-section{
    background: #1e1e1e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.dark-theme .summary-section h3{
    color: #fff;
}

.dark-theme .summary-section p ,
.dark-theme .summary-section ul{
    color: #d7d7d7;
}

.monthly-summary {
    margin-top: 20px;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.7);
}

.monthly-summary h3 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.monthly-summary p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

#month-category {
    list-style: none;
    padding: 0;
}

#month-category li {
    background: #fff;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    text-align: center;
}

body.dark-theme .monthly-summary {
    background: #333;
}

body.dark-theme #month-category li {
    background: #444;
    color: #fff;
    box-shadow: 0 3px 5px rgba(255,255,255,0.1);
}

#category-summary-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0,0,0,0.08);
}

#category-summary-table thead{
   background: #f3f3f3;
   color: #333;
}

#category-summary-table thead th{
    text-align: left;
    padding: 12px 14px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    border-bottom: 1px solid #ddd;
}

#category-summary-table tbody tr{
    transition: background 0.3s ease;
}

#category-summary-table tbody td{
    padding: 10px 14px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 0.93rem;
    color: #555;
}

#category-summary-table tbody tr:hover{
    background: #f8f8f8;
}

body.dark-theme #category-summary-table{
    background: #1d1d1d;
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.09);
}

body.dark-theme #category-summary-table thead {
  background: #292929;
}

body.dark-theme #category-summary-table thead th {
  color: #f1f1f1;
  border-bottom: 1px solid #444;
}

body.dark-theme #category-summary-table tbody td {
  color: #d3d3d3;
  border-bottom: 1px solid #333;
}

body.dark-theme #category-summary-table tbody tr:hover {
  background: #2a2a2a;
}

.fade{
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn{
    from{ opacity: 0; transform: translateY(20px);}
    to{opacity: 1; transform: translateY(0);}
}
@keyframes slideIn{
    from{opacity: 0; transform: translateX(-20px);}
    to{opacity: 1; transform: translateX(0);}
}


